.mainContainerProfile {
    position: absolute;
    max-width: 90%;

    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -10%);
    padding: 20px;
}

.mainContainerProfile img:hover{
    opacity: .8;
    transition: all 0.3s;
    cursor: pointer;
}

.innercardProfile {
    width: 100%;
    max-width: 90vw; 
    background-color: #011b0f; 
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.profileImages {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.mainProfileImage img {
    width: 15vw; 
    height: auto;
    border-radius: 10px;
}

.subProfileImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    margin-left: 15px;
}

.subProfileImages img {
    width: 7.2vw;
    height: auto;
    border-radius: 10px;
}

.userBio {
    margin-bottom: 20px;
}

.bioInput {
    width: 98%;
    padding: 10px;
    border: 1px solid #B80900;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(204, 204, 204); 
}

.userSelectedInterests, .selectInterests {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    margin-bottom: 20px;
}

.userSelectedInterests button{
    background-color: #B80900;
    color: white;
    border: solid #B80900 1px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.selectInterests button {
    background-color: transparent;
    color: white;
    border: solid #B80900 1px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.userSelectedInterests button:hover, .selectInterests button:hover {
    background-color: #b8090081;
}